@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-brand: #2563eb;
    --color-brand-hover: #1d4ed8;
    --color-focus-ring: #3b82f6;

    /* Light */
    --color-main: #f9fafb;
    --color-header: #ffffff;
    --color-footer: #111827;
    --color-card: #ffffff;
    --color-input: #ffffff;

    --color-primary-text: #000000;
    --color-muted-text: #9ca3af;

    --color-footer-text: #ffffff;
    --color-footer-border: #1f2937;

    --color-border: #e5e7eb;

    /* Dark */
    --color-main-dark: #030712;
    --color-header-dark: #111827;
    --color-footer-dark: #000000;
    --color-card-dark: #1f2937;
    --color-input-dark: #1f2937;

    --color-primary-text-dark: #ffffff;
    --color-muted-text-dark: #6b7279;

    --color-footer-border-dark: #111827;

    --color-border-dark: #374151;
}

@layer components {
    .nav-icons {
        font-size: 1.3rem;
        color: var(--color-primary-text);
        transition: color 0.3s ease;

        @variant dark {
            color: var(--color-primary-text-dark);
        }

        &:hover {
            color: var(--color-focus-ring);
        }
    }

    .add-button {
        color: white;
        background-color: var(--color-brand);
        border-radius: 6px;
        padding: 5px 13px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--color-brand-hover);
        }

        &:active {
            scale: 95%;
        }

        &:disabled {
            background-color: #99a1af;
            cursor: not-allowed;
            opacity: 0.6;
        }

        &:disabled:active {
            scale: 100%;
        }
    }

    .input-autofill {
        &::placeholder {
            color: var(--color-muted-text-dark);
        }

        &:-webkit-autofill {
            box-shadow: 0 0 0 1000px var(--color-input) inset;
            -webkit-text-fill-color: var(--color-primary-text);
        }

        @variant dark {
            &::placeholder {
                color: var(--color-muted-text);
            }

            &:-webkit-autofill {
                box-shadow: 0 0 0 1000px var(--color-input-dark) inset;
                -webkit-text-fill-color: var(--color-primary-text-dark);
            }
        }
    }
}

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
